:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-light-grey: #a6a6a6;
  --basic-darkgrey: #283136;
  --basic-light: #EEEEEE;
  --basic-coral: #FB565A;
  --special-coral: #E74246;
  --click-coral:#D7373B;
  --basic-green: #00CA74;
  --special-green:#00BC6C;
  --click-green: #00AA62;
  --basic-yellow: #EFC849;
  --special-yellow: #EAB534;
  --click-yellow:#E5A722;
  --special-light:#DFDFDF;
  --click-light: #D5D5D5;
  --basic-grey:#4D4D4D;
  --light-grey:#666666;
  --social-grey:#444444;
}

.page-body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}
/* Main header index */
.main-header {

  background-color: var(--basic-light);
}

/* Main navigation index*/

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: transparent;
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;

}
.site-navigation {
  margin: 0;
  padding: 0;
  justify-self:center;

}
.user-navigation {

}
.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  text-decoration: none;
  color: var(--basic-black);
}
.site-navigation a:hover,
.user-navigation a:hover {
color:var(--basic-coral);
}
.site-navigation a:active,
.user-navigation a:active {
  color:var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:focus,
.user-navigation a:focus,
.site-navigation-current a:not([href]),
.user-navigation-current a:not([href]){
  color:var(--basic-black);
  text-decoration: none;
  border-bottom: 1px solid #FB565A;
}

/* main index*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-index h1 {
display: none;

}



/*advantages index*/
.advantages {
  text-transform: none;
  background-color: var(--basic-light);
  margin-bottom: 80px;

}
.advantages h2 {
  display: none;
}
.advantages-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  list-style: none;
}
.advantages-inner {
  text-align: left;
}
.advantages-slider {
  text-align: center;
 }
.advantages-main {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0 10px 25px;
}
.advantages-item {
  color:var(--basic-darkgrey);
  margin: 0 10px 38px;
}
.advantages-inner a {
  margin: 0 10px;
}

.button {
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--basic-white);
  background-color:  var(--basic-coral);
  border-radius: 3px;
}
.button-adventages:hover {
  background-color:var(--special-coral);
}
.button-adventages:active {
  background-color:var(--click-coral);
  color:rgba(255, 255, 255, 0.3) ;
}
/* services index*/
.services {
  margin-bottom: 73px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(238, 238, 238, 1) ;
}
.services h2 {
  display: none;
}
.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;

}

.services-item p {
  margin: 0 10px 32px;
}
.services-item a {
  margin: 0 10px;
}
.services-item img {
  margin: 0 10px;
}
.services-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 25px 10px 16px;
}
.services-item p {
  text-transform: none;
  color:var(--basic-darkgrey);
}
.button-sites:hover{
  background-color:var(--special-coral);
}
.button-sites:active {
  background-color:var(--click-coral);
  color:rgba(255, 255, 255, 0.3);

}
.button-app {
  background-color:var(--basic-green);
}
.button-app:hover {
  background-color:var(--special-green);
}
.button-app:active {
  background-color:var(--click-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color:rgba(255, 255, 255, 0.3);
}
.button-present {
  background-color:var(--basic-yellow);
}
.button-present:hover {
  background-color:var(--special-yellow);
}
.button-present:active {
  background-color:var(--click-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color:rgba(255, 255, 255, 0.3);
}
/*features index*/
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 73px;
  list-style: none;
  border-bottom: 2px solid rgba(238, 238, 238, 1) ;
  margin-bottom: 46px;
}


.features h2 {
  display: none;
}
.features-slogan {

  text-transform: none;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 10px;
}
.features-item {
  text-transform: none;
  color:var(--basic-darkgrey);
  padding: 0 10px;
}

.features-request {
  font-weight: bold;
  color:var(--basic-darkgrey);
  padding: 0 10px;
}
.features-service {
  text-transform: none;
  list-style: none;
  color:var(--basic-darkgrey);
  padding: 0 10px;
}
.features-service li{
 position: relative;
 left: 35px;
}

.features-precision {
  font-weight: bold;
  text-align: center;
}
.features_super {
  text-transform: none;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;

}
.features_super_item {

  padding: 0 10px;
  }
.features_super_item strong{
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.features_super_item sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
}
.features_super_item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-darkgrey);
}
/*client index*/
.client {

}
.client h2 {
  display: none;
}
.client-list {
  display: grid;
  list-style: none;
  margin-bottom: 80px;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 44px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 2px solid rgba(238, 238, 238, 1);
}
.client-list li{
  border-left: 2px solid rgba(238, 238, 238, 1);
}

.client-list li:first-child {
  border: none;

}

.client-html a {
  background-image: url("../img/customers/logo_htmlacademy 2.png");
  background-repeat: no-repeat;
  height:57px;
  width: 199px;
  opacity: 0.2;
  display: inline-block;
}
.client-borodinski a {
  background-image: url("../img/customers/logo-2 2.png");
  background-repeat: no-repeat;
  height:90px;
  width: 209px;
  opacity: 0.2;
  display: inline-block;
}
.client-pink a {
  background-image: url("../img/customers/logo-3 2.png");
  background-repeat: no-repeat;
  height:52px;
  width: 185px;
  opacity: 0.2;
  display: inline-block;
}
.client-mishka a {
  background-image: url("../img/customers/logo-4 2.png");
  background-repeat: no-repeat;
  height:84px;
  width: 173px;
  opacity: 0.2;
  display: inline-block;
}
.client-html:active a {
  background-image: url("../img/customers/logo_htmlacademy 2.png");
  background-repeat: no-repeat;
  height:57px;
  width: 199px;
  opacity: 0.1;
}
.client-borodinski:active a {
  background-image: url("../img/customers/logo-2 2.png");
  background-repeat: no-repeat;
  height:90px;
  width: 209px;
  opacity: 0.1;
}
.client-pink:active a {
  background-image: url("../img/customers/logo-3 2.png");
  background-repeat: no-repeat;
  height:57px;
  width: 199px;
  opacity: 0.1;
}
.client-mishka:active a {
  background-image: url("../img/customers/logo-4 2.png");
  background-repeat: no-repeat;
  height:84px;
  width: 173px;
  opacity: 0.1;

}
.client-mishka:hover a {

  background-image: url("../img/customers/logo-4 2.png");
  background-repeat: no-repeat;
  height:84px;
  width: 173px;
  opacity: 1;
}
.client-pink:hover a {
  background-image: url("../img/customers/logo-3 2.png");
  background-repeat: no-repeat;
  height:57px;
  width: 199px;
  opacity: 1;
}
.client-borodinski:hover a {
  background-image: url("../img/customers/logo-2 2.png");
  background-repeat: no-repeat;
  height:90px;
  width: 209px;
  opacity: 1;
}
.client-html:hover a {
  background-image: url("../img/customers/logo_htmlacademy 2.png");
  background-repeat: no-repeat;
  height:57px;
  width: 199px;
  opacity: 1;
}

/*footer*/

.footer-contacts h2 {
  display: none;
}
.footer-contacts{
  background-image: url("../img/map 1.png");
  background-repeat: no-repeat;
  background-color: rgba(238, 238, 238, 0.844);
  height:416px;
  background-size: 100%;

}
.footer-social {
  text-transform: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
  margin-top: 68px;
}

.footer-social p {
  line-height: 22px;
  color:var(--social-grey);
}
.footer-social-list{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 68px;
}

.social-button {
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius : 50px;
}
.social-button img {
  border-radius : 50px;
}
.social-button:hover {
  background: linear-gradient(0deg, #E74246, #E74246);
}
.social-button:focus {
  background: linear-gradient(0deg, #D7373B, #D7373B);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
/* main catalog*/
.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  text-align: center;
  background-color: var(--basic-light);
  margin: 0;
  padding-top: 72px;
  padding-bottom: 108px;
}
.page-catalog {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: ;
  padding: 0;
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

/*filt-catalog*/

.filter h2 {

}
.page-catalog {
  outline: 5px solid rgba(4, 0, 255, 0.7);
  outline-offset: -5px ;
  margin: 0;
}
.page-catalog .filter-form {
  outline: 5px solid rgba(255, 0, 247, 0.7);
  outline-offset: -5px ;
}
.filter p{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.filter-list a{
  text-decoration: none;
  line-height: 20px;
  color:var(--basic-black);
  opacity: 0.3;
}
.filter-list a:hover {
  color:var(--basic-black);
  opacity: 0.6;
}
.filter-list a:focus {
  color:var(--basic-black);
  opacity: 1;

}
.filter legend{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.filter ul {
  list-style: none;
}
.filter label {
  color:var(--basic-darkgrey)
}
.button-filter {
  border-radius: 3px;
  background-color:  var(--basic-light);
  color: var(--basic-black);
  text-transform: uppercase;
}
.button-filter:hover  {
  background-color:  var(--special-light);
}
.button-filter:active,
.button-filter:focus  {
  background-color:  var(--click-light);
  color: rgba(0, 0, 0, 0.3);
}

/*templates-list*/
.templates {
  outline: 5px solid rgba(255, 0, 247, 0.7);
  outline-offset: -5px ;
}
.templates h2 {
  display: none;
}
.templates-list{
  list-style: none;
}
.templates-list a {
  text-decoration: none;
  }
.templates-list h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}
.templates-list a:hover h3 {
  color: var(--basic-coral);
}
.templates-list a:active h3 {
  color: var(--basic-black);
  opacity: 0.3;
}
.button-price:hover {
  background-color:var(--special-coral);
}
.button-price:active {
  background-color:var(--click-coral);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.templates-list p {
  list-style: 18;
  text-transform: none;
  color: var(--light-grey);
}
.pagination-list {
  list-style: none;
}
.pagination-item a {
  color: var(--basic-black);
  background-color:var(--basic-light);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
}
.pagination-item a:hover {
  background-color:var(--special-light);
}
.pagination-item a:active {
  background-color:var(--click-light);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color:rgba(0, 0, 0, 0.3);
}
.pagination-item a:focus,
 pagination-item-current a:not([href]) {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
}
